.b-action {
  color: var(--color-secondary-dark);

  .__wash {
    background: linear-gradient(90deg, var(--color-primary) 37%, transparent);
  }

  .__header,
  .__txt,
  .__txt p {
    color: inherit;
  }

  .__txt p:last-child {
    margin-bottom: 0;
  }
}
