.b-blog {
	padding-bottom: var(--smt);

	.__filters {
		border-top: 1px dashed var(--color-primary);
		padding-top: 24px;
	}

	.__tab {
		color: var(--color-primary-900, #554615);

		&.is-active {
			color: var(--color-secondary, #3d3d3d);
		}
	}

	.__card {
		color: #fff;

		.__img img {
			width: 100%;
			height: 204px;
			object-fit: cover;
		}

		.__title {
			margin: 0;
		}

		.__arrow {
			display: block;
			width: 56px;
			height: 56px;
		}
	}

	.navigation {
		border-top: 1px dashed var(--color-primary);
		padding-top: 24px;
		margin-top: 56px;
		margin-bottom: 0;
	}

	.page-numbers {
		border-radius: 8px;
		background: #fff;
		color: #0d0d0d;
		border: 1px solid var(--color-primary-100, #fff0bf);

		&.current {
			background: var(--color-primary);
			color: #0d0d0d;
			border-color: var(--color-primary);
		}
	}

	&.b-blog-related {
		.__card {
			color: inherit;
		}
	}
}

.b-blog-hero {
	padding-bottom: 64px;

	.__breadcrumb {
		margin-bottom: 48px;
	}

	.__meta span {
		color: var(--color-primary);
	}
}

.b-blog-single {
	.__toc {
		top: 8rem;
	}

	.__entry {
		h2,
		h2 span,
		h3,
		h3 span {
			color: #fff;
		}

		.post-metrics {
			max-width: 624px;
		}

		.post-metrics__item {
			border-top: 1px dashed var(--color-primary-dark, #aa8c2a);
			padding-top: 16px;
		}

		.post-metrics__item:first-child {
			border-top: 0;
			padding-top: 0;
		}

		.post-metrics__title {
			color: var(--color-primary-light, #ffd95f);
			margin: 0;
		}
	}
}
