.b-contact {
	.__breadcrumb {
		margin-bottom: 48px;
	}

	.__form {
		input:not([type='checkbox']):not([type='submit']),
		textarea {
			background-color: rgb(20 18 16 / 0.8);
			border: 1px solid rgb(255 210 63 / 0.2);
			color: #fff;
		}

		input[type='submit'] {
			color: var(--bg, #141210);
		}
	}
}
