.b-faq {
	&.section-dark {
		background: var(--bg);
	}

	.__label {
		font-size: 14px;
		letter-spacing: 0.08em;
		text-transform: uppercase;
	}

	input.tab-check {
		position: absolute !important;
		opacity: 0 !important;
		z-index: -1 !important;
	}

	.tabs {
		width: 100%;
		overflow: hidden;
		background: var(--color-secondary-800);
		border-radius: var(--radius);
		margin-bottom: 16px !important;
	}

	.tabs-label {
		padding: 18px 28px;
		margin-bottom: 0 !important;
		cursor: pointer;

		.__arrow {
			transition: transform 0.3s ease-in-out;
		}
	}

	.tabs-content {
		max-height: 0;
		transition: all 0.3s;
		padding: 0 28px;
		overflow: hidden;
	}

	.tabs-content p {
		margin: 0 0 16px;
		color: rgb(255 255 255 / 0.65);
	}

	.tabs-content p:last-child {
		margin-bottom: 0;
	}

	.tabs-content ul {
		list-style-type: disc;
		padding-left: 16px;
		color: rgb(255 255 255 / 0.65);
	}

	input:checked + .tabs-label .__arrow {
		transform: rotate(180deg);
	}

	input:checked ~ .tabs-content {
		max-height: 1200px;
		padding: 0 28px 20px;
	}
}
