.b-solutions {
	.__txt {
		p {
			margin: 0;
			padding-top: 16px;
		}

		p:first-child {
			padding-top: 0;
		}

		p + p {
			border-top: 1px dashed var(--color-primary-700);
			margin-top: 16px;
		}

		strong,
		b {
			display: block;
			color: var(--color-primary);
			font-family: var(--header);
			font-weight: 500;
		}
	}
}
